@charset "UTF-8";

div#tv-radio {
    width: 1200px;
    height: 800px;
    margin: 0px;
    background-image: url("../_imagens/tv-4k-2.jpg");
}

audio#musica {
    display: block;
    position: relative;
    left: 197px;
    top: 0px;
    width: 850px;
    padding-bottom: 15px; 
}

video#filme {
    display: block;
    position: relative;
    left: 207px;
    top: 29px;
    width: 835px;
    height: 484px;
}